.bg_gray{
    background-color: #00000026;
    max-width: 200px;
}
.bg_green{
    background-color: rgb(179, 211, 162);
    max-width: 200px;

}

ul,ol,menu{
    list-style: none;
}

.list_item{
    line-height: 30px;
    padding: 5px;
}